<html>
  <head>
  <title>edit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'edit', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     </head>
     <body>
       <div class= "flash">
       <%= flash[:notice] %>
    </div>

     <div class= "home-top">
       <h1>Editing Book</h1>
       </div>
         <% if @book.errors.any? %>
         <%= @book.errors.count %> errors 
          <ul>
          <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
          </ul>
          <% end %>
       <div class ='field'>
       <%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
       <p>Title</p>
       <%=f.text_field :title %>
       <p>Body</p>
       <%=f.text_area :body %>
       <div class ="create">
       <%=f.submit 'Update　Book' %>
       </div>
       <%end %>
       </div>
       <%=link_to "show",book_path(@book)%>|
       <%=link_to "back", '/books' %>
     </body>
</html>