<html>
  <head>
    <title>show</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class= "flash">
      <%= flash[:notice] %>
    </div>
    <div class="show-main">
    <p><strong>Title:</strong>
    <%= @book.title %></p>

    <p> <strong>Body:</strong>
    <%= @book.body %></p>
    </div>
   <%=link_to 'edit',edit_book_path(@book)%>|
   <%=link_to 'back','/books'%>
   </body>
</html>
